[submodule "binaural-meet"]
	path = binaural-meet
	url = https://github.com/BinauralMeet/binaural-meet.git
[submodule "bmMediasoupServer"]
	path = bmMediasoupServer
	url = https://github.com/BinauralMeet/bmMediasoupServer.git
[submodule "vrcss"]
	path = vrcss
	url = https://github.com/BinauralMeet/vrcss.git
[submodule "docs/bin"]
	path = docs/bin
	url = https://github.com/haselab-net/doc-tool.git
[submodule "stt-sidecars"]
	path = stt-sidecars
	url = https://github.com/BinauralMeet/stt-sidecars.git
